{% extends 'base_accounts.html' %}

{% block title %}在Jay's netspace登陆{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">登陆</h3>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {% include 'includes/form.html' %}
                        <button type="submit" class="btn btn-primary btn-block">
                            登陆</button>
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    新来的小伙伴?<a href="{% url 'signup' %}">来注册吧？</a>
                </div>
            </div>
            <div class="text-center py-2">
                <small>
                    <a href="{% url 'password_reset' %}" class="text-muted">忘记密码了?</a>
                </small>
            </div>
        </div>
    </div>
{% endblock %}