{% extends 'base_accounts.html' %}

{% block title %}密码修改完成！{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">密码修改成功!</h3>
                <div class="alert alert-success alert" role="alert">
                    你已经成功修改了你的密码，现在可以去登陆了
                </div>
                <a href="{% url 'login' %}" class="btn btn-secondary btn-block">
                    回到登陆页面
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}